.heading{
    width: 80%;
    font-size: 25px;
}
body{
    background-color: yellow;
    color: turquoise;
}
.Objects{
    color: purple;
}
#camera{
    width: 400px;
    height: 350px;
    border: 10px ridge plum;
    

}
#object_name,#object_accuracy{
    color: rgb(248, 205, 212);
}